<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'trust/css/style.css' %}">
    <style>
    body
    {
	    background-image:url("{% static 'trust/img/background.jpg' %}");
    }
    </style>
</head>

<body>
<div class="main">
<form action="/" method="post">
    <div style="float:left">Please enter the web address :</div>
    <br>
    <input type="text" name="url">
    <input type="submit" value="submit" class="sub"/>
</form>
    <br>
{% if test_url == '' %}
    <div></div>
{% else %}
    <div>The credibility of this website : {{trust_value}} </div>
{% endif %}
    <br>
{% if contained_wjc == '' %}
    <div>No prohibited words</div>
{% else %}
    <div>prohibited words : {{contained_wjc}} </div>
{% endif %}
    <br>
{% if phishing_website == '' %}
    <div>{{phishing_website}}</div>
{% else %}
    <div>{{phishing_website}} </div>
{% endif %}
    <br>
</div>
</body>

</html>